**/.history/*
# Ignore all files in the .terraform directory
**/.terraform/*

# Ignore the terraform.tfstate file
*/terraform.tfstate

# Ignore the terraform.tfstate.backup file
*/terraform.tfstate.backup

# Ignore all files in the .terraform.d directory
*/.terraform.d/*

# Ignore the .terraform-version file
*/.terraform-version
**/.terraform.lock.hcl
# Ignore all files in the .terraform-plugins directory
*/.terraform-plugins/*
infrastructure/python/

*/*.pem
*/*-key.pub
*/*-key
*/*.out
*/*.env
**/*.zip
